/*#product_list {
            display: flex;
            height: 100vh;
            width: 100vw;
            justify-content: space-around;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .product_item {
            display: inline-block;
            border: 1px solid black;
            margin: 10px;
        }*/